<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuMapper">
    <resultMap id="menuResultMap" type="com.eunah.dto.MenuDTO">
        <id property="code" column="MENU_CODE"/>
        <result property="name" column="MENU_NAME"/>
        <result property="price" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STATUS"/>
    </resultMap>

    <select id="selectAllMenu" resultMap="menuResultMap">
        SELECT
        MENU_CODE,
        MENU_NAME,
        MENU_PRICE,
        CATEGORY_CODE,
        ORDERABLE_STATUS
        FROM TBL_MENU
        WHERE ORDERABLE_STATUS = 'Y'
    </select>

    <select id="selectMenuByCode" resultMap="menuResultMap">
        SELECT
        MENU_CODE,
        MENU_NAME,
        MENU_PRICE,
        CATEGORY_CODE,
        ORDERABLE_STATUS
        FROM TBL_MENU
        WHERE ORDERABLE_STATUS = 'Y'
        AND MENU_CODE = #{ code }
    </select>

    <insert id="insertMenu" parameterType="com.eunah.dto.MenuDTO">
        INSERT INTO TBL_MENU(
            MENU_NAME,
            MENU_PRICE,
            CATEGORY_CODE,
            ORDERABLE_STATUS
        ) VALUES (
            #{ name },
            #{ price },
            #{ categoryCode },
            'Y'
        )
    </insert>

    <delete id="deleteMenuByCode" parameterType="int">
        DELETE FROM TBL_MENU
        WHERE MENU_CODE = #{ code }
    </delete>

    <update id="updateMenuByCode" parameterType="com.eunah.dto.MenuDTO">
        UPDATE
            TBL_MENU
        SET
            MENU_NAME = #{name},
            MENU_PRICE = #{price},
            CATEGORY_CODE = #{categoryCode},
            ORDERABLE_STATUS = #{orderableStatus}
        WHERE MENU_CODE = #{code}
    </update>

</mapper>